<form action='/' method='get'>

  <input type='text' name='stock_symbol'/>
  <button>Results</button>

</form>

<% if @last_trade %>
<section>
  <header>
    <h1>Last Trade:</h1>
  </header>
  <%= @last_trade %>
  <%= @stock_name %>
</section>

<% end %>